# Git
.git
.gitignore
.cache
./~

# Node.js
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log

# Environment variables
.env.local
.env.*.local

# Docker
.docker
docker-compose.yml
docker-compose.*.yml

# Logs
logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.idea
.vscode
*.sublime-project
*.sublime-workspace

# Local data
data.old
uploads

# CI/CD
.gitlab-ci.yml

# Documentation
README.md
LICENSE
dist